<!-- Admin Dashboard Component -->
<div class="d-flex">
    <div class="sidebar">
        <h3 class="text-white mb-3">Quản lý</h3>
        <nav class="nav flex-column">
            <a class="nav-link" href="/home">Trang chủ</a>
            <a class="nav-link active" href="/admin-dashboard">Dashboard</a>
            <a class="nav-link" href="/admin-user">Người dùng</a>
        </nav>
    </div>
    <div class="container main-content">
        <h3>Danh sách web crawl</h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Trạng thái</th>
                    <th>Thay đổi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let crawl of crawls | async" >
                    <td> {{ crawl.nameUrl }} </td>
                    <td style="width: 20%;"> {{ crawl.status }}</td>
                    <td style="width: 60%;">
                        <button class="btn btn-primary" (click)="config(crawl)">Cấu hình</button>
                        <button class="btn btn-info" style="margin-left: 15px" (click)="reConfig(crawl)">Tái cấu hình</button>
                        <button class = "btn btn-success" style="margin-left: 15px">Cập nhật</button>
                        <!-- <button class = "btn btn-danger" style="margin-left: 15px"> Xóa</button> -->
                    </td>
                </tr>
            </tbody>
            <br>    
        </table>

        <table class="table table-striped">
            <h3>Cấu hình của trang crawl</h3>
            <tbody>
                <tr class="row" *ngFor="let keyword of keywords | async" >
                    <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
                            <label for="keyword-crawl">Trang crawl</label>
                            <input type="text" class="form-control" id="keyword-crawl" value="{{ keyword.crawl.nameUrl }}" 
                            aria-describedby="emailHelp" readonly>
                        </div>

                        <div class="mb-4">
                            <label for="keyword-flash-sale">Keyword của trang flash sale</label>
                            <input type="text" class="form-control" id="keyword-flash-sale" value="{{ keyword.keyword_sale_url }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-wrapper">Keyword của wrapper sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-wrapper" value="{{ keyword.keyword_wrapper }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-sale-time">Keyword mốc thời gian sale</label>
                            <input type="text" class="form-control" id="keyword-sale-time" value="{{ keyword.keyword_uptime }}" 
                            aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
                            <label for="keyword-title">Keyword tên sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-title" value="{{ keyword.keyword_title }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-image">Keyword hình ảnh sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-image" value="{{ keyword.keyword_image }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-price">Keyword giá gốc sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-price" value="{{ keyword.keyword_price }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-discount">Keyword % sale sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-discount" value="{{ keyword.keyword_discount }}" 
                            aria-describedby="emailHelp">
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="mb-4">
                            <label for="keyword-sale">Keyword giá khi sale</label>
                            <input type="text" class="form-control" id="keyword-sale" value="{{ keyword.keyword_sale }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-product">Keyword url trang sản phẩm</label>
                            <input type="text" class="form-control" id="keyword-product" value="{{ keyword.keyword_product }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-review">Keyword lượng review</label>
                            <input type="text" class="form-control" id="keyword-review" value="{{ keyword.keyword_review }}" 
                            aria-describedby="emailHelp">
                        </div>

                        <div class="mb-4">
                            <label for="keyword-sold">Keyword lượng bán</label>
                            <input type="text" class="form-control" id="keyword-sold" value="{{ keyword.keyword_sold }}" 
                            aria-describedby="emailHelp">
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info" (click)="crawlingProduct()">Crawl</button>
    </div>
</div>