<!-- Admin Dashboard Component -->
<div class="d-flex">
    <div class="sidebar">
        <h3 class="text-white mb-3">Trang chủ</h3>
        <nav class="nav flex-column">
            <a class="nav-link active" href="/admin-dashboard">Dasboard</a>
            <a class="nav-link" href="/admin-user">Người dùng</a>
            <a class="nav-link" href="/admin-role">Chức vụ</a>
            <a class="nav-link" href="#">Đơn hàng</a>
            <a class="nav-link" href="#">Sản phẩm</a>
        </nav>
    </div>
    <div class="container main-content">
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Trạng thái</th>
                    <th>Thay đổi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let crawl of crawls | async" >
                    <td> {{ crawl.nameUrl }} </td>
                    <td> {{ crawl.status }}</td>
                    <td>
                        <button class = "btn btn-info"> Cập nhật</button>
                        <button class = "btn btn-danger" style="margin-left: 15px"> Xóa</button>
                    </td>
                    <td>
                        <button class="btn btn-success" onclick="crawlingProduct()">Crawl</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>