<app-header></app-header>

<div class="container" style="margin: 100px 0;">
    <div class="row" style="margin-bottom: 20px;">
        <h4>Lọc</h4>
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="setByPrice()">Giá cả</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="setByDiscount()">Giảm giá</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="setBySold()">Lượng bán ra</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let product of products | async" >
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="{{ product.image }}" style="width: 220px; height: 220px;">
                </div>
                <figcaption class="info-wrap">
                    <h4 class="title"> {{ product.name }} </h4>
                    <p class="desc" style="color: red;">Giảm giá {{ product.discount }}%</p>
                    <div class="rating-wrap">
                        <div class="label-rating" *ngIf="product.review > 0">{{ product.review }} đánh giá</div>
                        <div class="label-rating" style="font-weight: bold;" *ngIf="product.sold > 0">{{ product.sold }} đã bán </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap">
                    <div class="price-wrap h5">
                        <span class="price-new" style="color: red;">{{ product.salePrice | currency:'VND' : 'symbol':'1.0-0'}}</span>
                        <del class="price-old" style="margin-left: 20px; font-size: 16px;">
                            {{ product.price | currency:'VND' : 'symbol':'1.0-0'}}</del>
                    </div>
                    <a
                    target="_blank" style="padding: 10px 20px; margin: 10px 0;" 
                    class="btn btn-sm btn-primary float-right" (click)="createOrder(product)">MUA NGAY</a>
                </div>
            </figure>
        </div>
    </div>
</div>

<app-footer></app-footer>