<app-header></app-header>

<div class="container" style="margin: 100px 0;">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products | async" >
            <figure class="card card-product">
                <div class="img-wrap">
                    <img src="{{ product.image }}" style="width: 220px; height: 220px;">
                </div>
                <figcaption class="info-wrap">
                    <h4 class="title"> {{ product.name }} </h4>
                    <p class="desc">Giảm giá {{ product.discount }}%</p>
                    <div class="rating-wrap">
                        <div class="label-rating">{{ product.review }} đánh giá</div>
                        <div class="label-rating">{{ product.sold }} đã bán </div>
                    </div>
                </figcaption>
                <div class="bottom-wrap">
                    <div class="price-wrap h5">
                        <span class="price-new" style="color: red;">{{ product.salePrice | currency:'VND' : 'symbol':'1.0-0'}} </span>
                        <del class="price-old"> {{ product.price | currency:'VND' : 'symbol':'1.0-0'}}</del>
                    </div>
                    <a href="{{ product.url }}" target="_blank" 
                    class="btn btn-sm btn-primary float-right" (click)="createOrder(product)">MUA NGAY</a>
                </div>
            </figure>
        </div>
    </div>
</div>

<app-footer></app-footer>