<app-header></app-header>

<!-- Profile Component -->
 <div class="container">
    <main class="content">

        <div class="py-4">
            
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Thông tin cá nhân</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow components-section">
                    <div class="card-body">     
                        <div class="row mb-4">
                            <div class="col-lg-4 col-sm-6">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="email">Email </label>
                                    <input type="email" class="form-control" id="email" value="{{ user.email }}" 
                                    aria-describedby="emailHelp">
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-3">
                                    <label for="exampleInputIconPassword">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" 
                                        id="exampleInputIconPassword" aria-label="Password">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-3">
                                    <label for="phoneNumber">Số điện thoại</label>
                                    <input type="text" class="form-control " id="phoneNumber" value="{{ user.phoneNumber }}">               
                                </div>
                                <!-- End of Form -->
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="usernameValidate">Họ và tên</label>
                                    <input type="text" class="form-control" id="usernameValidate" value="{{ user.fullName }}">
                                </div>
                                <!-- End of Form -->
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label for="role">Role</label>
                                    <input type="text" class="form-control" id="role" readonly value="{{ user.role.name }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
 </div>

<app-footer></app-footer>
